\#*#
*~
.*
*.pyc
*.egg-info
*.code-workspace

!.gitignore

# Build utilities

# Data
examples/POPDENS/inputs/**
examples/POPDENS/logs
examples/malnutrition/data/**
examples/malnutrition/outputs/**
examples/malnutrition/logs/**

# Packaging
dist/
build/

# Resources

# Debugging
malpolon_rls*.err
malpolon_rls*.out

# Miscellaneous
